#parent
{
    width: 100%;
    min-height: 619px;
   
}
#menu
{
   
   float: right;
  /* border:2px solid black; */
   height: 60px;
}
.menuitem
{
    float:right;
    padding-top: 40px;
    
    padding-right:40px;
}
#sitelogo
{
    /* border: 2px solid black; */
    width: 20%;
    font-weight:bold;
    font-size: large;
    padding-top: 70px;
    min-height:30px;
    margin-left: 60px;
}
#main
{
    border: 1px solid lightgray;
    width:93%;
    margin-left: 30px;
    background-color: lightgray;
}
#content
{
    margin-left: 28px;
}
#heading
{
    width: 93%;
   
    margin-left: 30px; 
    min-height: 40%;
    justify-content: space-evenly;
    text-align: center;
  
}
.subheading
{
   display: inline-block;
   border: 1px solid lightgray;
   background-color: lightgray;
   width: 27%;
   min-height: 120px;
   margin: 2% 2.2% 0% 2.2%;
}
.belowheading
{
    display: inline-block;
   
    width: 27%;
    min-height: 120px;
    margin: 0% 2.2% 0% 2.2%
}
.learnmore
{
    color: black;

}
#footer
{
    margin-top: 20px;
    width:93%;
   
    margin-left:3% ;
    min-height: 50px;
    min-height: 3;
    background-color: lightgray;
}
#left
{
    
    display: inline-block;
    width: 35%;
    text-align: right;
    margin-top: 1%;
    font-weight: bold;

}
#right
{
   
    display: inline-block;
    width: 62%;
    float: right;
    margin-top: 1%;
    min-height: 1%;
}
ul
{
    list-style-type: none;
    display: inline;
}
li
{
    align-items: center;
    float: left;
    margin-right: 8px;
}

#last
{
    margin-top: 20px;
    width: 93%;
   
    margin-left: 30px;
}
#lastleft
{
    display: inline-block;
  
    width: 40%;
    margin-left: 7%;
}
#lastright
{
    display: inline-block;
    
    width: 48%;
    text-align: right;

}


