
#table1
{   margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
}
#addproduct
{
    
    margin-left:15%;
    margin-top:-12%;
    width:15%;
    height: 10%;
    border: 1px solid black;
    width: 19%;
    height: 35px;
    text-align: center;
    padding-top: 20px;
    
}
#table2
{
    margin-left: 15%;
    margin-top:5%;
}

