/*.thick-green-border
{

    border-width: 10px;
    border-style: solid;
    border-color: green;
    border-radius: 50%;
}
.smaller-image
{
    width:100px;
}*/
/*#cat-photo-form
{
    background-color:green;
}

.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box {
    background-color: red;
    margin: 20px 40px 20px 40px;
    padding:1.5em;

  }

  .green-box {
    background-color: green;
    margin: 20px 40px 20px 40px;
  }*/
  body
  {
      background-color:rgb(0,0,0);
  }
 
 /* .pink-text
  {
      color: pink !important;
  }
  /*.blue-text
  {
      color: blue;
  }
 #orange-text
 {
     color:orange;
 }*/


 /*.red-text {
    color: #F00;
  }
  .green-text {
    color:#0F0 ;
  }
  .fuchsia-text {
    color:#F0F ;
  }
  .cyan-text {
    color: #0FF;
  }*/