/*.thick-green-border
{

    border-width: 10px;
    border-style: solid;
    border-color: green;
    border-radius: 50%;
}
.smaller-image
{
    width:100px;
}*/
#cat-photo-form
{
    background-color:green;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin: 20px;
  }